:root {
    --Linear-gradient: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --error-color: hsl(0, 100%, 66%);
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    max-width: 1440px;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.container-cards-desktop {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 555px;
    flex-wrap: wrap;
    align-content: flex-end;
}

.container-cards-desktop .front-card .img-card,
.container-cards-desktop .back-card .img-card {
    width: 100%;
    height: auto;
}

.container-cards-desktop .cards {
    position: relative;
    margin: 15px 0;
}

.container-cards-desktop .text {
    position: absolute;
    color: var(--White);
    padding: 22px;
    top: 0;
}

.card-number {
    margin-top: 70px;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 4px;
    color: var(--White);
}

.name-expire-date {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 0.79em;
    letter-spacing: 2px;
}

.name {
    text-transform: uppercase;
}

.cvc {
    position: absolute;
    top: 109px;
    right: 0;
    margin-right: 52px;
    color: var(--White);
}

.container-cards-desktop .back-card {
    position: relative;
    left: 100px;
}

.container-cards-mobile {
    display: none;
}

.container-img-desktop {
    width: 100%;
    max-width: 483px;
    height: 100%;
    margin-right: 230px;
}

.container-img-mobile {
    display: none;
}

.img-box {
    display: block;
    width: auto;
    height: 100%;
    max-width: 100%;
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.form {
    width: 350px;
}

.box-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.label {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--Very-dark-violet);
}

.input-text {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}

.input-text:focus,
.input-text:active {
    outline: 2px solid var(--Very-dark-violet);
}

.two-column-input {
    display: flex;
    gap: 40px;
}

.two-column-input .box-cvc {
    display: flex;
    flex-direction: column;
}

.two-column-input .box-cvc input {
    width: 100px;
}

.mounth-year {
    display: flex;
    justify-content: space-between;
}

.mounth-year input {
    width: 60px;
}

.btn {
    flex-grow: 1;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    color: var(--White);
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: var(--Very-dark-violet);
    padding: 15px;
    text-align: center;
    margin-top: 35px;
}

.error-msg {
    font-size: 0.8rem;
    margin-bottom: 3px;
    color: var(--error-color);
}

/*RESPONSIVIDADE*/

@media (max-width: 1200px) {

    .container-cards-desktop {
        width: 480px;
    }

}

@media (max-width: 1000px) {

    .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
    }

    .container-img-desktop {
        display: none;
    }

    .container-img-mobile {
        display: flex;
        width: 100%;
    }

    .img-mobile {
        width: 100%;
        height: 300px;
    }

    .container-cards-desktop {
        display: none;
    }

    .container-cards-mobile .front-card-mobile .img-card,
    .container-cards-mobile .back-card-mobile .img-card {
        width: 300px;
        height: auto;
    }

    .front-card-mobile {
        z-index: 2;
    }

    .back-card-mobile {
        top: 72px;
        z-index: 1;
        margin-left: 30px;
    }

    .container-cards-mobile {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        width: 100%;

    }

    .container-cards-mobile .cards-mobile {
        position: relative;
    }

    .container-cards-mobile .text {
        position: absolute;
        color: var(--White);
        padding: 22px;
        top: 0;
    }

    .card-number-mobile {
        margin-top: 20px;
    }

    .container-cards-mobile .name-expire-date-mobile {
        display: flex;
        justify-content: space-between;
        font-size: 0.6rem;
        margin-top: 10px;
    }

    .cvc-mobile {
        position: absolute;
        top: 70px;
        right: 0;
        margin-right: 37px;
        color: var(--White);
    }

    .form-container {
        margin-top: 75px;
    }

}